<!-- # <%= link_to 'New Link', new_link_path, :class => "btn btn-large btn-custom" %>
# <div class="row">
#   <div class="col-xs-12 col-md-8">
#
# <% @comments.each do |comment| %>
#   <tr>
#     <td><%= comment.body %></td>
#     <td><%= comment.user_id %></td>
#     <td><%= comment.commentable_id %></td>
#     <td><%= comment.commentable_type %></td>
#     <td><%= link_to 'Show', comment %></td>
#     <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
#     <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
#   </tr>
# <% end %>
#
# </div> -->
