<p id="notice"><%= notice %></p>

<h1>My Lab</h1>
      <table>
        <thead>
          <tr>
            <th>Score</th>
            <th>Upvote</th>
            <th>Downvote</th>
            <th>Title</th>
            <th>Summary</th>
            <th>User</th>
            <th>Subreddit</th>
            <th colspan="3"></th>
        </tr>
      </thead>

          <tbody>
            <% @links.each do |link| %>
            <tr>
              <%= render :partial => '_votes', :locals => {:link => link} %>
              <td><%= link_to link.title, link.url %></td>
              <td><%= link.summary %></td>
              <td><%= link.user_id %></td>
              <td><%= link.subreddit_id %><</td>
              <td><%= link_to 'Show', link %></td>
              <td><%= link_to 'Edit', edit_link_path(link) %></td>
              <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
              <% end %>
          </tbody>
      </table>
