<p id="notice"><%= notice %></p>


<div id="linksTable" class="linkList">
<% @links.each do |link| %>


<div class="media">
  <div id="linkTitle">

      <div id="votes" class="btn-group">
        <%= link_to like_link_path(link), method: :put, class: "btn btn-primary btn-sm" do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Upvote
          <%= link.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_link_path(link), method: :put, class: "btn btn-primary btn-sm" do %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
          Downvote
          <%= link.get_downvotes.size %>
        <% end %>
      </div>
      <a href="#">
        <%= link_to link.title, link %>
      <!-- <img class="media-object" src="..." alt="..."> -->
    </a>
  <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by # </small>
  </div>
</div>


<% end %>
</div>
</div>
