<p id="notice"><%= notice %></p>


<div class="btn-group pull-right">
  <%= link_to up_link_path(@link), method: :put, class: "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Upvote
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to down_link_path(@link), method: :put, class: "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-down">
    Downvote
    <%= @link.get_downvotes.size %>
  <% end %>
</div>

<% if link.user == current_user %>
      <div class="btn-group">
          <td><%= link_to 'Edit', edit_link_path(@link) %></td>
          <td><%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%></td>
      </div>

<% end %>
